* {
    font-family:'Playfair Display', serif;
    font-weight: bold;
}

.orange {
    color : #ff7700;
}

.cross-icon {
    font-size: 50px;
}

.img-cover {
    object-fit: cover;
}

.img-height {
    height: 280px;
    object-fit: cover;
}

.carousel-inner > .carousel-item > .row > .col > img {
    object-fit: cover;
    height:360px;
  }

@media screen and (min-width: 768px)
{
    .border-radius-img {
        border-radius: 0% 100% 41% 59% / 100% 0% 100% 0% ;
        object-fit: cover;
    } 
    .img-height {
        height: 270px;
    }
}