* {
    font-family: 'Lato', sans-serif;
}

section {
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover:visited {
    color: black;
}

.white {
    color: #ff7700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: 85%;
    font-weight: bolder;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .btn {
    color: white;
    background-color : #ff7700;
}

.partners {
    width: 20%
}

.black {
    font-size: 20px;
}

.cross-icon {
    font-size: 50px;
}


.img-contact, .img-cover, .img-height {
    object-fit: cover; 
}

.img-height {
    height: 220px;
}
.owl-item > .item > img {
    height: 380px;
    object-fit: contain;
}

.navbar-brand {
    width: 30%;
}

.navbar {
    box-shadow: inset 0px -10px 8px -9px #838383;
}

@media screen and (min-width: 992px)
{
    .owl-item > .item > .img {
        height: 250px;
    }

    .img-contact {
        height: 400px;
    }

    .img-height {
        height: 350px;
    }
    .white {
        width: 90%;
        font-size: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar-brand {
        width: 15%;
    }

    .partners {
        width: 10%
    }
    
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    .border-radius-img {
        border-radius: 10% 0% 28% 0% / 0% 69% 30% 10% ;
        object-fit: cover;
    } 
    .img-height {
        height: 270px;
    }

    .img-contact {
        height: 450px;
    }

    .navbar-brand {
        width: 20%;
    }
}