* {
    font-family: 'Lato', sans-serif;
}

section {
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover:visited {
    color: black;
}

.orange {
    color: #ff7700;
    width: 85%;
}



 .btn-color {
    color: white;
}

.partners {
    width: 20%
}

.black {
    font-size: 20px;
}

.cross-icon {
    font-size: 50px;
}

.img-contact {
    height: 30vh;
}


.img-contact, .img-cover, .img-height {
    object-fit: cover; 
}

.img-height {
    height: 220px;
}
 
.navbar-light .container .navbar-toggler {
    border: none;
}

.navbar-toggler i {
    color: black;
    font-size: 30px;
}

.dropdown-menu {
    border: none;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}

.owl-item > a > .item {
    height: 380px;
    object-fit: contain;
}

.owl-item > #targetedImage {
    height: 200px;
    object-fit: contain;
}

.carousel-wrap {
    position: relative;
  }
  #product-carousel .owl-nav.disabled{
    overflow: hidden;
    height: 0px;
    display: flex;
  }

  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      cursor: pointer;
      top: 100px !important;
  }

  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }

  .owl-stage{
    margin: 0 auto;
}
  .owl-carousel i {
      font-size: 30px;
  }
  .owl-carousel .prev-slide{
      left: -33px;
  }
  .owl-carousel .next-slide{
      right: -33px;
  }
  .carousel-wrap .owl-theme .owl-nav [class*=owl-]:hover {
      color: silver;
  }

.navbar-brand {
    width: 180px;
}

.product-mainContainer {
    padding-top: 10vw;
}

.white {
    color: white;
}

.orange-bg {
    background-color: #ff7700;

}

.description-container {
    background-color: whitesmoke;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -100%;
    width: 280px;
}

.absolute {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlined {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bolder;
    font-size: 40px;
    
}

.radius {
    border-radius: 30px;
}

.btn-size {
    font-size: 20px;
    font-weight: bold;
}

label {
    font-weight: bold;
    padding-left: 10px;
}
  
.btn-color:hover {
    color: black;
    background: hsl(28, 98%, 63%);
}

.social-footer .social-footer-icons ul {
    padding: 0;
    margin: 0;
}
  
.social-footer .social-footer-icons li {
    list-style: none;
    margin-right: 0;
}
  
.social-footer .social-footer-icons .fa-brands {
    color: white;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background-color: #ff7700;
}
  
.social-footer .social-footer-icons .fa-brands:hover {
    transform: scale(1.2);
    transition: color 0.3s ease-in;
}


@media screen and (min-width: 992px)
{
    .border-radius-img {
        border-radius: 10% 0% 28% 0% / 0% 69% 30% 10% ;
        object-fit: cover;
    } 

    #productImage {
        max-height: 600px;
    }

    .img-height {
        height: 350px;
    }
    .orange {
        width: 90%;
        font-size: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar-brand {
        width: 18%;
    }

    .img-contact {
        height: 50vh;
    }

    .partners {
        width: 10%
    }

    .btn-size {
        font-size: 30px;
        font-weight: bold;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    .border-radius-img {
        border-radius: 10% 0% 28% 0% / 0% 69% 30% 10% ;
        object-fit: cover;
    } 
    .img-height {
        height: 230px;
    }

    .aside {
        width: 30%
    }

    .img-contact {
        height: 40vh;
    }

    .navbar-brand {
        width: 25%;
    }

    #productImage {
        max-height: 600px;
    }

    .btn-size {
        font-size: 30px;
        font-weight: bold;
    }
}